@media (max-width: 768px) {
	body {
		width: auto;
		margin: 0px;
		padding: 0px;
		box-sizing: border-box;
	}

	#bloc_page {
		margin: 0px;
		padding: 0px;
	}

	header {
		flex-direction: column;
		margin: 0px;
		padding: 0px;
	}

	.logo {
		margin-right: auto;
		margin-left: auto;
	}

	nav {
		width: 100%;
	}

	nav ul {
		width: 100%;
		padding: 0;
	}

	nav li {
		width: 50%;
		border-bottom: 3px solid #f2f2f2;
		padding-bottom: 10px;
		margin: 0px;
		text-align: center;
	}

	nav a:hover {
		padding-top: 37px;
	}

	nav li a:hover {
		border-top: none;
	}

	nav li:hover {
		border-color: #0065fc;
		color: #0065fc;
	}

	nav a {
		text-align: center;
	}

	.title {
		padding-top: 40px;
	}

	.search-bar {
		margin-top: 30px;
	}

	#search-bar {
		width: 90%;
	}

	#icon--map {
		width: 10%;
	}

	.filter {
		flex-direction: column;
		align-items: start;
	}

	.filter--ul {
		flex-wrap: wrap;
		margin-top: -30px;
	}

	#button {
		display: none;
	}

	#search-loop {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #0065fc;
		color: white;
		width: 35px;
		border-radius: 10px;
		font-size: smaller;
	}

	.info p {
		font-size: 15px;
	}

	.section-1 {
		flex-direction: column-reverse;
	}

	.aside {
		width: 100%;
	}

	.populaire {
		width: 100%;
		margin-left: -10px;
	}

	.card--populaire {
		margin-left: -10px;
		width: 100%;
	}

	#star-title {
		display: flex;
		justify-content: flex-end;
	}

	.hebergement {
		background-color: white;
		width: 100%;
		padding: 0;
	}

	.card {
		width: 100%;
		box-shadow: none;
	}

	.card img {
		width: 100%;
	}

	.activity {
		padding-top: 60px;
	}

	.activity--img {
		flex-direction: column;
		gap: 30px;
	}

	.column {
		gap: 30px;
	}

	#img-id {
		width: 100%;
		height: 200px;
		box-shadow: none;
	}

	#img-id img {
		height: 150px;
		width: 100%;
		object-fit: cover;
	}

	#img-id h3 {
		height: 50px;
		width: 100%;
	}

	.bloc--frioul {
		margin-top: -20px;
	}

	.bloc--longchamp {
		margin-top: -22px;
	}

	.footer {
		flex-direction: column;
		margin-left: 30px;
		gap: 50px;
		margin-top: 70px;
	}
}
